@font-face {
    font-family: 'Graphik';
    src: url("/public/Graphik-Regular-Trial.woff2") format("woff2");
}

$font : 'Graphik', sans-serif;

$bleuciel : #f1f8fc;
$bleu : #0074c7;
$bleumarine : #00497c;
$violet : #384050;
$rouge : #cd2c2e;
$vert : #82b864;